[Desktop Entry]
Version=1.1
Type=Application
Name=Lincity
GenericName=City Simulation Game
Comment=City simulation game
Icon=/usr/share/pixmaps/lincity.xpm
Exec=xlincity
TryExec=/usr/games/xlincity
Terminal=false
Categories=Application;Game;StrategyGame
